:root{
    --theme-main-color: rgba(255,0,0,0.95);
    --theme-main-txt-color: rgba(255, 255, 255, 0.81);
    --theme-main-nav-hover: rgba(255, 57, 57, 0.736);
    --theme-main-nav-hover-txt: rgba(191, 145, 191, 0.75);
    --theme-container-color: rgba(255, 226, 5, 0.86);
    --theme-container-txt-color: rgba(1,0,7,0.89);
    --theme-bg-color: rgba(2, 3, 16, 0.926);
    --theme-footer-txt: rgba(255, 236, 130, 0.973);
}

@media (min-width: 576px) {
    body{
        width: 90%;
    }    
}

@media (max-width: 576px) {
    body{
        width: 100%;
    }
}

body{
    background-color: var(--theme-bg-color);
}

nav{
    background-color: var(--theme-main-color);
    color: var(--theme-main-txt-color);
    margin: 90px;
    width: 98.4%;
    text-align: center;
    padding: 15px;
}

.nav-link{
   text-decoration-line: none;
   margin: 15px;
   font-size: larger;
   color: var(--theme-main-txt-color);
}

.nav-link:hover {
    color: var(--theme-main-nav-hover-txt);
    background-color: var(--theme-main-nav-hover);
    padding: 15px;
}

.nav-link-show{
    text-decoration-line: none;
    color: var(--theme-main-nav-hover-txt);
    background-color: var(--theme-main-nav-hover);
    padding: 15px;
}

footer p{
    width: 100%;
    margin-left: 90px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--theme-main-color);
    color: var(--theme-footer-txt);
}

.footer-link{
    color: var(--theme-main-txt-color);
    text-decoration-line: none;
}

.contact{
    width: 100%;
    background-color: var(--theme-container-color);
    color: var(--theme-container-txt-color);
    margin-left: 90px;
}

.form{
    width: 250px;
}

.message{
    height: 150px;
}

.f1{
    margin-left: 64px;
    margin-top: 50px;
}

.f2{
    margin-left: 27px;
}

.f3{
    margin-left: 15px;
}

.send{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 190px;
    width: 200px;
    height: 50px;
    font-size:medium;
}

.container{
    margin-left: 90px;
    width: 100%;
    background-color: var(--theme-container-color);
    color: var(--theme-container-txt-color);
}
.grid{
    width: 450px;
}

.grid-pic1{
    margin: 45px;
    margin-left: 50px;
    margin-right: 45px;
}

.grid-txt1{
    margin: 45px;
}